@model FYPSystem.Models.Evaluation

@{
    ViewData["Title"] = "RemoveMarks";
    Layout = "~/Views/Shared/_LayoutSupervior.cshtml";
}

<div class="container" style="margin-top:30px; margin-left:40px;">
    <div class="card">
        <div class="card-body">

            <h1 class="display-3" style="color:forestgreen"><b>Remove</b></h1>
            <h3>Are you sure you want to delete your entered marks?</h3>

            <div class="row">
                <div class="col-md-4">
                    <form asp-action="RemoveMarks">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="StudentName" class="control-label"></label>
                            <input readonly asp-for="StudentName" class="form-control" />
                            <span asp-validation-for="StudentName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RollNum" class="control-label"></label>
                            <input readonly asp-for="RollNum" class="form-control" />
                            <span asp-validation-for="RollNum" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="ProposalMarks" class="control-label"></label>
                            <input readonly asp-for="ProposalMarks" class="form-control" />
                            <span asp-validation-for="ProposalMarks" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="PosterMarks" class="control-label"></label>
                            <input readonly asp-for="PosterMarks" class="form-control" />
                            <span asp-validation-for="PosterMarks" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SupervisorMarks" class="control-label"></label>
                            <input readonly asp-for="SupervisorMarks" class="form-control" />
                            <span asp-validation-for="SupervisorMarks" class="text-danger"></span>
                        </div>
                        @*<div class="form-group" hidden>
                            <label asp-for="ExaminerOne" class="control-label"></label>
                            <input readonly asp-for="ExaminerOne" class="form-control" />
                            <span asp-validation-for="ExaminerOne" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="ExaminerTwo" class="control-label"></label>
                            <input readonly asp-for="ExaminerTwo" class="form-control" />
                            <span asp-validation-for="ExaminerTwo" class="text-danger"></span>
                        </div>*@
                        <div class="form-group">
                            <label asp-for="TotalMarks" class="control-label"></label>
                            <input readonly asp-for="TotalMarks" class="form-control" />
                            <span asp-validation-for="TotalMarks" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="SupervisorId" class="control-label"></label>
                            <input readonly asp-for="SupervisorId" class="form-control" />
                            <span asp-validation-for="SupervisorId" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="SupervisorName" class="control-label"></label>
                            <input readonly asp-for="SupervisorName" class="form-control" />
                            <span asp-validation-for="SupervisorName" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="SupervisorEmail" class="control-label"></label>
                            <input readonly asp-for="SupervisorEmail" class="form-control" />
                            <span asp-validation-for="SupervisorEmail" class="text-danger"></span>
                        </div>
                       @* <div class="form-group" hidden>
                            <label asp-for="EvaluatorOneName" class="control-label"></label>
                            <input asp-for="EvaluatorOneName" class="form-control" />
                            <span asp-validation-for="EvaluatorOneName" class="text-danger"></span>
                        </div>
                        <div class="form-group" hidden>
                            <label asp-for="EvaluatorTwoName" class="control-label"></label>
                            <input asp-for="EvaluatorTwoName" class="form-control" />
                            <span asp-validation-for="EvaluatorTwoName" class="text-danger"></span>
                        </div>*@

                        <div class="form-group" hidden>
                            <label asp-for="StudentId" class="control-label"></label>
                            <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                            <span asp-validation-for="StudentId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="remove" class="btn btn-danger" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
            </div>

        </div>
    </div>
</div>
